#btn-6::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 50%;
    top: 0;
    left: 0;
    background-color: white;
    transform: translateX(-100%)rotate(45deg);
    transition: all 1s;
    border-radius: 4px;
}

#btn-6:nth-child() {
    transition: all 1s;
}

#btn-6:hover::before {
    transform: translateX(100%)rotate(45deg);
}

#btn-6:hover {
    background-color: red;
}